.top-bar-section ul li:not(.has-form) a:not(.button){
  background: none;
  border-bottom: 3px solid transparent;
  line-height: 29px;
  margin-top: 12px;
  padding: 0 12px;
}
.top-bar-section ul li:not(.has-form) a:not(.button):hover{
	background: none;
	border-color: #fff;

}
.top-bar-section ul li{
	margin: 0 5px !important;
}
