// Index page style
.artist-grid {
  .artist-card {
    margin:auto;
    .poster img {
      height: 200;
      width:auto;
    }
    .artist-info {

       max-width: 150px!important;
      .title { height: 4em; }
    }
  }
}