// Index page style
.artiss-grid {
  .artis-card {
    width:220px;
    margin:auto;
    .poster img {
      height: 325px;
      width:100%;
    }
    .artis-info {
      .title { height: 4em; }
    }
  }
}