.top-bar-section ul li:not(.has-form) a:not(.button){
  background: none;
  border-bottom: 3px solid transparent;
  line-height: 29px;
  margin-top: 12px;
  padding: 0 12px;
}
.top-bar-section ul li:not(.has-form) a:not(.button):hover{
	background: none;
	border-color: #fff;

}
.top-bar-section ul li{
	background: none;
	margin: 0 5px !important;
}

.artist-info{
	max-width: 150px;
}
.nav-white {
	background: #fff;
}
span.logo {
	display: block;
	width: 122px;
	height: 25px;
	background: url('/images/nav_logo_white.png') no-repeat;
	background-size: 122px auto;
}
.nav-white span.logo {
	background: url('/images/nav_logo.png') no-repeat;
	background-size: 122px auto;
}
a.logo {
	margin-top: 13px;
}
.nav-white .top-bar-section ul li > a {
	color: #000;
}
.nav-white .top-bar-section ul li:not(.has-form) a:not(.button):hover {
	color:#180477;
	border-color: #180477 ;
}
