/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
.session-body {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #18074d 0%, #3b4d9f 30%, #18074d 100%) repeat scroll 0 0;
  font-family: "niveau-grotesk","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック",YuGothic,"メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
#index-header{
  background: rgba(24,7,77,0.8);
  z-index: 998;
}
#index-color{
  background: rgba(24,7,77,0);

}
.top-bar-section {
	font-weight: 800;
}
.title-area{
	margin:6px 0 0 -3px!important;
}
.sam-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

#profile_container {
	display: flex;
	width: 100%;
	max-width: 1080px;
	margin: 30px auto auto;
	left: 0;
	right: 0;
	padding: 0;
	background: #FFF;
}

#signup_container {
	width: 100%;
	margin-top: 30px;
	padding: 0 calc(50% - 540px);
	background: #efefef;
}

#signup_container #profile_right {
	padding-left: 95px;
	padding-bottom: 40px;
}

#signup_container #profile_right h2{
	margin: 25px 0 40px;
	border-bottom: none;
	padding-left: 0;
	color: #e83322;
	position: relative;
	font-size: 1.8rem ;
}

#signup_container #profile_right h2 div{
	background: #efefef;
	width: 100px;
}

#signup_container #profile_right h2::after{
	border-top: 1px solid currentColor;
	display: block;
	top: 0;
	bottom: 0;
	left: 110px;
	margin: auto;
	width: calc(100% - 110px);
	height: 1px;
	position: absolute;
	content: '';
}	


footer {
  background-color: #ffffff;
  background-image: url("/images/nav_logo.png");
  background-position: calc(50% + 540px - 90px) center;
  background-repeat: no-repeat;
  background-size: auto 15px;
  height: 45px;
  width: 100%;
  bottom: 0;
  position: fixed;
  clear: both;
}