<div id="index-header">
  <div class="row" >
    <nav class="top-bar column" id="index-color" data-topbar>

        <ul class="title-area" >
          <li class="name">
            <h1>
              <a href="/">
                <i><img src="/images/nav_logo_white.png" width="50%"></i> 
              </a>
            </h1>
          </li>
          <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section" >
          <ul id="index-color" class="right" >
            <li><%=link_to "Login", "#" %></li>
            <li><%=link_to "WHAT'S SAM", "#" %></li>
            <li><%=link_to "Artist Sign Up", "#" %></li>
            <li><%=link_to "Pick Up Artist", "#" %></li>          
          </ul>
        </section>

      </nav>
  </div>
</div>