<div id="index-header">
  <div class="sam-nav">
    <div class="row" >
      <nav class="top-bar column" id="index-color" data-topbar>

          <ul class="title-area" >
            <li class="name">
              <h1>
                <a class="logo" href="/">
                  <span class="logo"></span>
                </a>
              </h1>
            </li>
            <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
          </ul>
          <div id="index-color">
            <section class="top-bar-section" >
              <ul id="index-color" class="right" >
                <li><%=link_to "Login", new_user_session_path %></li>
                <li><%=link_to "WHAT'S SAM", "#" %></li>
                <li><%=link_to "Artist Sign Up", new_user_registration_path %></li>
                <li><%=link_to "Pick Up Artist", "#" %></li>          
              </ul>
            </section>
          </div>
        </nav>
    </div>  
  </div>
</div>